@font-face{
    font-family: TheWitcher;
    src: url(../resources/fonts/Thewitcher.ttf);
}

@font-face{
    font-family: bubbly;
    src: url(../resources/fonts/COCKB___.TTF);
}

@font-face{
    font-family: Decadenta;
    src: url(../resources/fonts/Decadentafrax-lKDd.ttf);
}

@font-face{
    font-family: Anchor;
    src: url(../resources/fonts/Anchorsteamnf-8RMg.ttf);
}

@font-face{
    font-family: Medelicia;
    src: url(../resources/fonts/Medelicia-pm4Z.otf);
}

@font-face{
    font-family: Romance;
    src: url(../resources/fonts/RomanceFatal.ttf);
}

@font-face{
    font-family: Blackletter;
    src: url(../resources/fonts/Blackletter.ttf);
}

@font-face{
    font-family: Volkorn;
    src: url(../resources/fonts/Volkorn.otf);
}

@font-face{
    font-family: Catwal;
    src: url(../resources/fonts/Catwalzhari-ywL2Y.ttf);
}

@font-face{
    font-family: Beda;
    src: url(../resources/fonts/jmhbeda.ttf);
}

@font-face{
    font-family: Beda2;
    src: url(../resources/fonts/jmhbeda.ttf);
}