/* IMPORTS */
@import "fonts";

/* UTILITÁRIOS */

.colunar{
    border: 1px solid red;
}
.colunab{
    border: 1px solid blue;
}
.colunag{
    border: 1px solid green;
}
.altura{
    height: 700px;
}

/* INÍCIO DOS ESTILOS */

/* ROOT/GLOBAL */

#root{
    background-image: url("../nonuses/wallpaper_maincontent.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    #allcont{
        margin-left: 4%;
        margin-right: 4%;
        margin-top: 5%;
        margin-bottom: 5%;
        //background-color: #56241988;
        background-image: radial-gradient(circle, #56241986, #431c1983, #2f151788, #1c0d1091, #0000008c);
        //border-right: 5px solid #56241986;
        box-shadow: 0px 9px 21px 3px rgba(0,0,0,0.75);

    }

}

/* CONTEÚDO */

/* NAVEGAÇÃO */

#navigation{

    .logotipo{

        border-bottom: 1px solid white;

        h1{
            font-family: Decadenta;
            color: white;
            font-size: 60px;
        }
    }

    .salas{

        margin-top: 10%;
        margin-bottom: 10%;
        padding-bottom: 5%;
        border-bottom: 1px solid white;

        h3{
            font-family: bubbly;
            color: white;
            font-size: 32px;
            font-weight: 200;
            margin-bottom: 10%;
        }

        ul{
            
            li{
                font-family: Catwal;
                color: white;
                font-size: 19px;
                text-decoration: none;
                list-style-type: none;
                margin-bottom: 3%;

                i{
                    margin-right: 7%;
                }
            }
            
        }

        button{
            font-family: Catwal;
            font-size: 16px;
            border: 2px solid white;
        }

        h4{
            font-family: Catwal;
            color: white;
            margin-top: 3%;
        }

    }

    .cadlog{

        margin-top: 5%;

        h5{
            font-family: Catwal;
            color: white;
            margin-top: 4%;
        }

        button{
            font-family: Catwal;
            font-size: 18px;
        }
    }
}

/* FIM DA NAVEGAÇÃO */

/* MAIN CONTENT */

/* FRONT-PAGE */

#maincont{
    //background-image: radial-gradient(circle, #56241986, #431c1983, #2f151788, #1c0d1091, #0000008c);
    box-shadow: -8px 12px 21px 3px rgba(0,0,0,0.75);
    filter: contrast(100%);
    backdrop-filter:blur(2px);

    .headmaincont{

        height: 240px;
        width: 100%;
        position: relative;
        border: 15px solid gold;
        border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;

        &::before{
            content: "";
            position: absolute;
            top:-10px;
            left:-10px;
            background: url(../nonuses/wallpaper_maincontent3.jpg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            width: 102%;
            height: 109%; 

            filter: grayscale(65%);
            z-index: -1;
        }
        /*
        h2{
            font-family: Catwal;
            color: white;
            font-size: 40px;
        }
        */
        h2{
            color: white;
            background-color: #0a1117;
            width: 55%;
            filter: grayscale(80%);
            border: 15px solid gold;
            border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
            font-size: 1.1em;
            font-family: Catwel;
            
            span{
                font-size: 1.5em;
            }
        }
    }

    .aprmaincont{
        font-family: Beda;
        //color: #f7d35d;
        color: white;        //background-image: radial-gradient(circle at center, #47414c 0%, #222024 100%);


        .maincontfaq{
            border: 1px dashed red;
            width: 75%;
        h3{
            clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);
            background-color: black;
            text-align: center;
            width: 740px;
            height: 40px;
            text-justify: center;
        }

        .moldura{
            border: 1px solid blue;
            width: 100%;
            height: 1000px;
            background-image: url(../resources/svgs/galhardete_novacor_old.svg);
            background-size: cover;
            height: 0;
            padding: 0; /* reset */
            padding-bottom: calc(100% * 3 / 4);
            background-position: center center;    
            background-repeat: no-repeat;
            filter: contrast(120%);
        }

        }
    


    }

   
}

